
---
---

@import "{{ site.theme }}";

/* GENERAL STYLES */
header span.left-tail, header span.right-tail {
    position: relative;
    display: block;
    width: 56px;
    height: 105px;
    background: transparent url(../images/ribbon-tail-sprite.png) 0 0 no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    position: absolute;
    bottom: -37px;
    z-index: 0;
}
header span.right-tail {
    background-position: -56px 0;
    right: -31px;
}
header span.left-tail {
    background-position: 0 0;
    left: -31px;
}
h1 {
	margin: 30px 0;
    font-size: 3em;
    letter-spacing: -1px;

	vertical-align: baseline;
	border-bottom: .2em double #d3ccc1;
	color: #7c334f;
	text-align: center;
	font-weight: bold;
	line-height: 1.2;
	padding-bottom: 10px;
	text-shadow: 1px 1px 1px #222;
}

h2 {
	font-size: 1.58em;
	color: #7c334f;
	margin: .95em 0 .5em;
	border-bottom: .1em solid #D3CCC1;
	line-height: 1.2;
	padding-bottom: 10px;
}
h3 {
	padding: auto 2px 2px 2px;
	margin: 20px 0 10px;
	font-size: 1.4em;
}
h4 {
	margin: .6em 0;
	font-size: 1.2em;
	color: #cd596b;
}
hr {
 	border: none;
	outline: none;
	height: 18px;
	background: transparent url("../images/hr.jpg") center center repeat-x;
	margin: 0 0 20px;
 }
 a a:hover {
 	color: #417090;
	font-size: 1.2em;
 }

 p {
 	text-align: justify;
 }
 ul li {
 	list-style: none;
 	padding-left: 13px;
 	font-family: 'Zilla Slab Highlight', cursive; 	
 }
 #main-content ul li {
 	background: transparent url(../images/chevron.png) left 6px no-repeat;
 }
 pre {
 	margin: 10px auto 20px;
	padding: .7em;
	background: #fff6e9 !important;
	border-bottom: 2px solid #bdb6ad;
	overflow: auto;
 }
img {
 	webkit-box-shadow: 0px 2px 0px #bdb6ad;
	-moz-box-shadow: 0px 2px 0px #bdb6ad;
	box-shadow: 0px 2px 0px #bdb6ad;
	border: 2px solid #fff6e9;
	max-width: 502px;
	margin: 20px auto 20px;
 }
 /* END GENERAL STYLES */

/* HEADER */
#header-nav {
	position: fixed;
	z-index: 1000;
	top:0;
	left: 0;
	width: 100%;
	background-color: #7c334f;
	border-radius: 0;
	border: 0;
	text-align: center;
	-moz-transition: 500ms all ease-in-out;
	-ms-transition: 500ms all ease-in-out;
	-webkit-transition: 500ms all ease-in-out;
}
.header-nav-close {
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	opacity: 0;
}
.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {	/* your name */
	border-bottom: none !important;
	font-family: 'Kaushan Script', cursive;
	color: #e69b95;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 2px 2px #222;
	margin-top: 0;
	padding-left: 30px;
	margin-bottom: 0;
	line-weight:.75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}
#nav-list li {
	padding-left: 0px !important;
}
#nav-list a {
	color: #e69b95;
  	text-align: center;
}
.active {
	background: #ece4d8;
}
#nav-list a:hover, #nav-list a:focus {
  background: #ece4d8;
}

#nav-list a span {
  font-size: 1.3em;
  margin-right: 5px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ece4d8;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  margin-right: 40px;
}
/* END HEADER */
/* MAIN CONTAINER */
#main-content {
	width: 75%;
	margin: 20px auto 20px;
	padding: 60px 30px 30px 30px;
	background-color: #efe8de;
	border: 1px solid #f2eade;
	/*box-shadow: 0px 1px 3px #3F0C1F;*/
}
.scrollToTop {
	width: 50px;
	height: 50px;

	text-align: center;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 20px;
	display: none;
	background: url('../images/arrow_up.png') no-repeat;
	background-position: center;
}
.scrollToTop:hover {
	text-decoration: none;
	animation: rotate 0.3s;
}
@keyframes rotate {
   0% {
      transform: rotate(120deg);
   }
   50% {
   	transform: rotate(240deg);
   }
   100% {
      transform: rotate(360deg);
   }
} 
/* SIDEBAR */
.sidebar {
	position: fixed;
	top: 0;
	left: -200px;
	background: #72334b;
	opacity: .8;
	width: 200px;
	height: 100%;
	transition: .3s;
}
.active {
	left: 0;
}
.sidebar ul {
	margin: 0;
	padding: 20px 0;
}
.sidebar ul li {
	list-style: none;
}
.sidebar ul li a {
	padding: 10px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0,0, .2);
}
.sidebarBtn {
	position: absolute;
	bottom: 80px;
	right: -50px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	cursor: pointer;
	background: #f5f5f5;
	border: none;
	outline: none;
	display: none;
}
.sidebarBtn span {
	display: block;
	width: 35px;
	height: 3px;
	background: #262626;
	position: absolute;
	top: 24px;
	transition: .3s;
}
.sidebarBtn span:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}
.sidebarBtn span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #262626;
	transition: .3s;
}
.sidebarBtn.toggle span {
	background: transparent;
}
.sidebarBtn.toggle span:before {
	top: 0;
	transform: rotate(45deg);
}
.sidebarBtn.toggle span:after {
	top: 0;
	transform: rotate(-45deg);
}

nav[data-toggle='toc'] {
  margin-top: 0px;
}
nav[data-toggle='toc'] .nav li a {
  padding: 4px !important;
  font-size: 1.1em !important;
}

/* SIDEBAR END*/
/* HOME PAGE */

.container .jumbotron {
  margin: 15px auto 70px;
}
/* add animation: fade in down; */
.container .jumbotron {
  animation: fade-in-down 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
@keyframes fade-in-down {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 
.introduction p:nth-child(1) {
	font-family: 'Zilla Slab Highlight', cursive !important;
	font-size: 1.2em;
}
.introduction p {
	margin: 15px auto 20px;
	line-weight:.75;
}
/* animation */
.introduction p {
	animation: fade-in-down 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

/* SOCIAL MEDIA */
/*Change icons size here*/
.social-icons {
	position: absolute;
	bottom: 0;
	left:0;
}
.social-icons li {
	list-style: none;
	margin-left: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 10px;
}
.social-icons .fa {
	font-size: 1.5em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 30px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.social-icons .fa:hover, .social-icons .fa:active {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
/* END SOCIAL MEDIA */

/* END HOME PAGE */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
  font-weight: bold;
  color: #8b786f;
  background-color: #ece4d8;
}
/* END FOOTER */

/* PROJECT */

.project {
	margin: 5px auto 5px;
}

/* END PROJECT */

/* BLOG */
#blogs {
	font-size: 1.1em;
	color: #544943; 
	text-decoration: none;
}

#blogs:hover, #blogs:focus {
	color: #82736a;
}
/* END BLOG */

/********** Large devices only **********/
@media (min-width: 1200px) {
	/* HOME PAGE */
	.container #profile-container {
		width: 40%;
		height: 380px;
	}
	.container #introduction-container {
		width: 60%;
	}
	.container .jumbotron {
	    background: url('../images/me2_1200.jpg') no-repeat;
	    height: 380px;
  		width: 253px;
	}
	/* END HOME PAGE */
	#toc {
		max-width: 230px; 
	}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  	/* HOME PAGE */
  	.container .jumbotron {
	    background: url('../images/me2_992.jpg') no-repeat;
	    height: 290px;
	    width: 193px;
	    margin-right: 5px;
	}
  	.container #profile-container {
  		height: 310px;
		width: 40%;
	}
	.container #introduction-container {
		width: 60%;
	}
	/* HOME PAGE */
	#toc {
		max-width: 200px; 
	}
	#main-content {
		width: 100% !important;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand h1 {
	    padding-left: 0px !important;
  	}
	/* HOME PAGE */
	.container .jumbotron {
	    background: url('../images/me2_992.jpg') no-repeat center;
	    height: 260px;
	    width: 177px;
	}
	.container #profile-container {
		width: 40%;
		height: 220px;
	}
	.container #introduction-container {
		width: 60%;
	}
	/* HOME PAGE */
	#main-content {
		width: 100% !important;
	}
	#toc {
		max-width: 180px; 
	}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  	/* Header */
  	.navbar-brand {
	    padding-top: 10px;
	    height: 80px;
  	}
  	h1 {
  		font-size: 8vw;
  	}
  	h2 {
  		font-size: 7vw;
  	}
  	h3 {
  		font-size: 5vw;
  	}
  	h4 {
  		font-size: 4vw;
  	}
  	img {
  		max-width: 230px !important;
  	}

  	#collapsable-nav a { /* Collapsed nav menu text */
    	font-size: 1.2em;
  	}
  	#collapsable-nav a span { /* Collapsed nav menu glyph */
    	font-size: 1em;
    	margin-right: 5px;
  	}
  	/* End Header */

  	/* HOME PAGE */
  	.container .jumbotron {
	    margin-top: 20px;
	    padding: 0;
	    width: 140px;
	}
	/* HOME PAGE */
	#main-content {
		width: 100% !important;
	}
	.navbar-header button.navbar-toggle {
		margin-right: 20px;
	}
	.blogs {
		display: none;
	}

	/* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}
