---

layout: default

---

<div id="main-content" class="container">
	{% if page.title != 'Home' %}
		<section class="bg-dark">
			<div class="text-center"> 
				<h1> {{ page.title }} </h1>
			</div>
		</section>

	{% endif %}

	{% if page.title != 'Blog' and page.title != 'Home' 
			and page.title != 'Project' and page.title != 'Life'%}
		<div style="text-align: center; margin-bottom: 30px;">
			<span style="font-weight: bold"> Date </span> {{ page.date | date: "%d %B %Y" }} |
			<span style="font-weight: bold"> Category </span>{{ page.categories }}
		</div>
	{% endif %}

	{{ content }}

	{% comment %}
	Stuff to hide
	{% endcomment %}
</div>


